/*------------------------------------------------------------------
[Main of contents]

1. Page Title
2. Primary
-------------------------------------------------------------------*/

/* ==========================================================================
   [Start] 1. Page Title
========================================================================== */
.cms-breadcrumb {
  padding: 12px 0 0;
  .breadcrumbs {
    li {
      display: inline-block;
      font-size: 14px;
      line-height: 1;
      padding: 0 14px;
      color: #fff;
      position: relative;
      a {
        color: #fff;
        &:hover {
          color: $primary_color !important;
        }
      }
      &:after {
        content: "/";
        font-size: 12px;
        position: absolute;
        right: -3px;
        top: 1px;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}
#cms-page-title {
  background-image: url(../images/bg-page-title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 330px 0 170px;
  position: relative;
  &:before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(27,26,26,0.5);
  }
  .cms-page-title-inner {
    position: relative;
    z-index: 3;
    h1 {
      color: #fff;
      margin: 0;
      font-size: 75px;
      line-height: 1.1;
      font-weight: 700;
    }
    span {
      position: relative;
      display: inline-block;
      max-width: 650px;
      margin: 8px auto 0 auto;
      color: #f9f9f9;
      font-size: 16px;
      line-height: 27px;
      font-family: 'Droidserif Italic';
      padding-bottom: 25px;
    }
  }
  &.pt-style2 {
    .cms-breadcrumb {
      padding-top: 0;
      padding-bottom: 18px;
    }
  }
  &.pt-style3 {
    .cms-page-title-inner h1 {
      font-size: 35px;
      line-height: 1;
      color: $color_dark;
    }
    .cms-breadcrumb .breadcrumbs li {
      color: $color_dark;
      a {
        color: $color_dark;
      }
    }
  }
  &.pt-style4 {
    padding: 80px 0;
    &:before {
      background-color: rgba(255,255,255,0.2);
    }
    .cms-page-title-inner h1 {
      font-size: 35px;
      line-height: 48px;
      color: $color_dark;
    }
    .cms-breadcrumb .breadcrumbs li {
      color: $color_dark;
      a {
        color: $color_dark;
      }
    }
  }
}
.home #cms-breadcrumb {
  display: none;
}
/* ==========================================================================
   [End] 1. Page Title
========================================================================== */

/* ==========================================================================
   [Start] 2. Primary
========================================================================== */
#cms-content {
  padding: 100px 0;
  &.noPadding {
    padding: 0 !important;
  }
}
.row-has-boxshadow {
  &:before, &:after {
    height: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    z-index: 99;
    opacity: 0.3;
  }
  &:before {
    top: 0;
    background-image: url(../images/box-shadow-top.png);
    background-repeat: repeat-x;
  }
  &:after {
    bottom: 0;
    background-image: url(../images/box-shadow-bottom.png);
    background-repeat: repeat-x;
  }
}
.row-has-boxshadow-top {
  &:before {
    height: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../images/box-shadow-top.png);
    background-repeat: repeat-x;
    z-index: 99;
    opacity: 0.3;
  }
}
.row-has-boxshadow-bottom {
  &:before {
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-image: url(../images/box-shadow-top.png);
    background-repeat: repeat-x;
    z-index: 99;
    opacity: 0.3;
  }
}
.cms-video-popup-wrapper {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .cms-button-video {
    display: inline-block;
    height: 68px;
    width: 68px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/video-button1.png);
    @include border-radius(100%);
  }
  &.button-style1 .cms-button-video {
    background-color: #222;
    &:hover {
      background-color: $primary_color;
    }
  }
  &.button-style2, &.button-style3 {
    .cms-button-video {
      height: 32px;
      width: 32px;
      background-image: url(../images/video-button2.png);
      &:before {
        border: 2px solid #f9f9f9;
        border-radius: 100%;
        content: "";
        display: block;
        height: 68px;
        left: -18px;
        position: absolute;
        top: -18px;
        width: 68px;
        z-index: 1;
        @include transition(all 300ms linear 0ms);
      }
      &:hover {
        background-color: $primary_color;
        &:before {
          border-color: $primary_color;
        }
      }
    }
  }
  &.button-style3 {
    .cms-button-video {
      &:before {
        border: 2px solid $primary_color;
      }
    }
  }
  &.intro-active {
    height: 360px;
    position: relative;
    .cms-button-video {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      @include transform(translate(0px, -50%));
      z-index: 2;
    }
    span {
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

/* 
   [Start] 404 Page
   +-----------------------------------+
*/
#main .error-404 {
  max-width: 660px;
  margin: auto;
  padding: 40px 0;
  .title404 {
    font-size: 240px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
  .h-line {
    height: 2px;
    width: 40px;
    position: relative;
    margin: auto;
  }
  .page-content {
    padding: 25px 0 20px 0;
  }
}

/* 
   [Start] Slider
   +-----------------------------------+
*/

.rev_slider_wrapper {
  .text-center {
    text-align: center !important;
  }
  .btn {
    line-height: 1 !important;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .btn-space {
    margin: 0 15px;
  }
  .tp-bullets.custom, .tp-bullets.hephaistos {
    .tp-bullet {
      display: block;
      height: 5px;
      width: 5px;
      background-color: #fff;
      @include border-radius(100%);
      &:before {
        content: "";
        height: 9px;
        width: 9px;
        position: absolute;
        top: -2px;
        left: -2px;
        border: 2px solid #fff;
        @include border-radius(100%);
        @include box-shadow(0 0 10px #fff inset);
      }
      &:after {
        content: "";
        height: 13px;
        width: 13px;
        border: 2px solid transparent;
        position: absolute;
        top: -4px;
        left: -4px;
        @include border-radius(100%);
      }
      &.selected {
        background-color: #fff;
        &:before {
          border-color: transparent;
          @include box-shadow(none);
        }
        &:after {
          border-color: #fff;
        }
      }
    }
  }
  .tp-bullets.hephaistos { 
    .tp-bullet {
      @include box-shadow(none);
      border: none;
      &:before {
        border-color: #222;
        @include box-shadow(0 0 10px #222 inset);
      }
      &.selected {
        background-color: #222;
        &:before {
          border-color: transparent;
          @include box-shadow(none);
        }
        &:after {
          border-color: #222;
        }
      }
    }
  }
  .tparrows.custom, .tparrows.hephaistos {
    background-color: transparent;
    height: 100px;
    overflow: hidden;
    width: 50px;
    &:before, &:after {
      content: "";
      position: absolute;
      background-color: #fff;
      height: 55px;
      width: 1px;
      left: 0;
      @include transition(all 300ms linear 0ms);
    }
    &:before {
      @include transform(rotate(36deg) translateY(0px));
      top: 20px;
    }
    &:after {
      @include transform(rotate(-36deg) translateY(0px));
      top: 22px;
    }
    &.tp-rightarrow {
      &:before, &:after {
        left: inherit;
        right: 0;
      }
    }
    &:hover {
      &:before {
        @include transform(rotate(36deg) translateY(10px));
      }
      &:after {
        @include transform(rotate(-36deg) translateY(-10px));
      }
    }
    &.tp-leftarrow:hover {
      &:before {
        @include transform(rotate(36deg) translateY(-10px));
      }
      &:after {
        @include transform(rotate(-36deg) translateY(10px));
      }
    }
  }
  .tparrows.hephaistos {
    &:before, &:after {
      background-color: #333333;
    }
    &.tp-leftarrow:before {
      top: 23px;
    }
  }
}
.fixed-bottom {
  bottom: 0;
  left: 0;
  margin: 0 !important;
  position: absolute;
  right: 0;
  width: 100%;
  > .vc_column_container {
    margin: auto;
    max-width: 1140px;
  }
}
#bg-position-bottom {
  background-position: center bottom !important;
}
.row-overlay {
  position: relative;
  &:after {
    background-color: inherit;
    bottom: 0;
    content: "";
    display: block !important;
    height: 100% !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible !important;
  }
  .vc_column-inner  {
    position: relative;
    z-index: 1;
  }
}
.col-overlay .vc_column-inner {
  position: relative;
  &:after {
    background-color: inherit;
    bottom: 0;
    content: "";
    display: block !important;
    height: 100% !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible !important;
  }
  .wpb_wrapper {
    position: relative;
    z-index: 1;
  }
}
.section-offset-right .vc_row .vc_column-inner  {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.vc_row-no-padding .section-offset-right .vc_row {
  padding-right: 15px;
}
.vc_row-no-padding .section-offset-left .vc_row {
  padding-left: 15px;
}

/* Hidden Sidebar */
.cms-modal-close, .hidden-sidebar-close {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 35px;
  top: 45px;
  cursor: pointer;
  @include transition(all 300ms linear 0ms);
  &:hover {
    color: $primary_color;
  }
}
.cms-hidden-sidebar-wrap {
  padding: 40px 50px;
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1002;
  opacity: 0;
  @include transform(translateX(100%));
  visibility: hidden;
  @include transition(all 260ms linear 0ms);
  height: 100%;
  bottom: 0;
  .hidden-sidebar-close {
    color: #222;
    font-size: 18px;
    &:hover {
      color: $primary_color;
    }
  }
  .cms-hidden-sidebar-inner {
    width: 100% !important;
    > aside {
      margin-bottom: 40px;
    }
  }
  &.open {
    visibility: visible;
    @include transform(translateX(0%));
    opacity: 1;
  }
}
.admin-bar .cms-hidden-sidebar-wrap {
  top: 32px;
}

/* Search Popup */
.cms-search-wrap, .cms-menu-popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1003;
  background-color: rgba(34,34,34,0.98);
  @include transition(all 260ms linear 0ms);
  opacity: 0;
  visibility: hidden;
}
.cms-search-wrap {
  .cshero-search-inner {
    left: 0;
    margin: auto;
    max-width: 570px;
    position: absolute;
    right: 0;
    top: 55%;
    transform: translate(0px, -50%);
    width: 100%;
    border-bottom: 2px solid #9e9e9e;
    @include transition(all 320ms linear 0ms);
    opacity: 0;
    #searchform {
      input[type="text"] {
        background-color: transparent;
        border: medium none;
        padding: 0 40px 0 0;
        font-size: 35px;
        color: #9e9e9e;
        font-weight: 300;
        height: 80px;
      }
      > div::before {
        color: #9e9e9e;
        font-size: 28px;
        right: 0;
      }
      #searchsubmit {
        height: 80px;
        width: 40px;
      }
    }
  }
  &.open {
    opacity: 1;
    visibility: visible;
    .cshero-search-inner { 
      top: 50%;
      opacity: 1;
    }
  }
}

/* Menu Popup */
.cms-menu-popup-wrap {
  padding-bottom: 90px;
  .cms-menu-popup-inner {
    left: 0;
    margin: auto;
    max-width: 370px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    width: 100%;
    @include transition(all 320ms linear 0ms);
    text-align: center;
    width: 100% !important;
    .menu-main-menu > li {
      @include transform(translateX(-30px));
      @include transition(all 260ms linear 0ms);
      opacity: 0;
      &.open {
        @include transform(translateX(0px));
        opacity: 1;
      }
    }
  }
  .social-top {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 12px;
      a {
        font-size: 14px;
        color: #646464;
        &:hover {
          color: $primary_color;
        }
      }
      &:first-child {
        display: none;
      }
    }
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
}
.cms-hidden-overlay {
  background-color: rgba(34, 34, 34, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  @include transition(all 200ms linear 0ms);
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

/* Full Height Page */
.fp-tableCell .wpb_column {
  &.col-h100 {
    height: 100vh;
    .vc_column-inner {
      height: 100%;
    }
  }
}
#fp-nav {
  &.right {
    right: 30px;
  }
  ul {
    li {
      margin: 5px 0;
      a {
        span {
          display: block;
          height: 5px !important;
          width: 5px !important;
          background-color: $color_dark;
          @include border-radius(100%);
          position: relative;
          margin: 0 !important;
          &:before {
            content: "";
            height: 9px;
            width: 9px;
            position: absolute;
            top: -2px;
            left: -2px;
            border: 2px solid $color_dark;
            @include border-radius(100%);
            @include box-shadow(0 0 10px $color_dark inset);
          }
          &:after {
            content: "";
            height: 13px;
            width: 13px;
            border: 2px solid transparent;
            position: absolute;
            top: -4px;
            left: -4px;
            @include border-radius(100%);
          }
        }
        &.active span {
          background-color: $color_dark;
          &:before {
                border-color: transparent;
                @include box-shadow(none);
              }
              &:after {
                border-color: $color_dark;
              }
        }
      }
    }
  }
}
#cms-theme {
  .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    line-height: 40px;
    padding: 0;
    right: 0;
    text-align: center;
    top: -44px;
    width: 40px;
    @include border-radius(2px 2px 0 0);
  }
  &.fp-viewing-section0, &.fp-viewing-section2, &.fp-viewing-section4, &.fp-viewing-section6, &.fp-viewing-section8, &.fp-viewing-section10 { 
    #cshero-header-inner #cshero-header .cshero-navigation-right .h-icon .h-button-menu {
      &:before, &:after, span {
        background-color: #222;
      }
      &:hover {
        &:before, &:after, span {
          background-color: $primary_color;
        }
      }
    }
  }
  &.fp-viewing-section1, &.fp-viewing-section3, &.fp-viewing-section5, &.fp-viewing-section7, &.fp-viewing-section9 {
    #cshero-header-inner #cshero-header #cshero-header-logo a {
      &.main-logo {
        opacity: 0;
      }
      &.sticky-logo {
        opacity: 1;
      }
    }
    #fp-nav {
      ul li a {
        span {
          background-color: #fff;
          &:before {
            border: 2px solid #fff;
            @include box-shadow(0 0 10px #fff inset);
          }
        }
        &.active span {
          background-color: #fff;
          &:before {
            @include box-shadow(none);
            border-color: transparent;
          }
          &:after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.fp-tableCell .vc_col-sm-6  {
  .cms-testimonial-layout1 {
     max-width: 730px;
     .cms-testimonial-wrapper {
      padding: 0 40px;
     }
  }
}

/* Page Loading */
#cms-loadding {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .cms-loader {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include transform(translate(0,-50%));
    margin: auto;
    animation: cms-loader 1s ease infinite;
    -moz-animation: cms-loader 1s ease infinite;
    -webkit-animation: cms-loader 1s ease infinite;
    -ms-animation: cms-loader 1s ease infinite;
    -o-animation: cms-loader 1s ease infinite;
  }
}
@keyframes cms-loader {
  0%, 100% {
    box-shadow: -6px 20px 0 $primary_color, 13px 20px 0 rgba($primary_color, 0.2), 13px 39px 0 rgba($primary_color, 0.2), -6px 39px 0 rgba($primary_color, 0.2); }
  25% {
    box-shadow: -6px 20px 0 rgba($primary_color, 0.2), 13px 20px 0 $primary_color, 13px 39px 0 rgba($primary_color, 0.2), -6px 39px 0 rgba($primary_color, 0.2); }
  50% {
    box-shadow: -6px 20px 0 rgba($primary_color, 0.2), 13px 20px 0 rgba($primary_color, 0.2), 13px 39px 0 $primary_color, -6px 39px 0 rgba($primary_color, 0.2); }
  75% {
    box-shadow: -6px 20px 0 rgba($primary_color, 0.2), 13px 20px 0 rgba($primary_color, 0.2), 13px 39px 0 rgba($primary_color, 0.2), -6px 39px 0 $primary_color; } 
}
/* ==========================================================================
   [End] 3. Primary
========================================================================== */
